@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

:root {
  --font-google: "Rubik", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: rgb(31, 5, 92);
  height: 100vh;
}

nav {
  max-width: 50rem;
  margin: 1rem auto;
  font-family: var(--font-google);
}

nav ul {
  list-style: none;
  text-decoration: none;
}
ul a {
  text-decoration: none;
}

/* Open/close menu button */

button {
  /* display: ; */
  /* margin: 2rem auto; */
  /* padding: .5em 1em; */

  color: rgb(31, 5, 92);
  background-color: #22222200;
  font-family: var(--font-google);
  font-size: 1rem;
  cursor: pointer;
  transition: 250ms;
  border-radius: 1em;
  /* float:center; */
}
.imgLog {
  display: flex;
  /* margin: 2rem auto;*/
  padding: 0.5em 1em;
  color: rgb(31, 5, 92);
  background-color: #22222200;
  font-family: var(--font-google);
  font-size: 1rem;
  cursor: pointer;
  transition: 250ms;
  border-radius: 1em;
  float: center;
}

.res-user {
  display: flex;
  /* margin: 2rem auto;*/
  padding: 0.5em 1em;
  color: rgb(31, 5, 92);
  background-color: #22222200;
  font-family: var(--font-google);
  font-size: 1rem;
  cursor: pointer;
  transition: 250ms;
  border-radius: 1em;
  float: center;
}

button:hover {
  background-color: none;
}

.principal {
  display: flex;
  align-items: flex-start;
  width: 80%;
  list-style: none;
}

/* Menu */

.menu {
  --color-menu-dark: rgb(250, 249, 249);
  display: none;
  flex-direction: column;
  /* position: fixed; */
  box-shadow: 0 0 0.5rem var(--color-menu-dark);
  margin-top: 0px;
}

.menu.activated {
  display: flex;
}

.menu--background {
  background-color: var(--color-menu-dark);
  color: rgb(31, 5, 92);
}

/* Menu button */

.menu__button {
  padding: 0.75em 1em;
  cursor: pointer;
  text-align: center;
  flex: 1 0 auto;
  position: relative;
}

.menu__button:hover {
  background-color: none;
}

/* Dropdown menu */

.dropdown-container {
  /* width: 100%; */
  display: none;
  margin-top: 1rem;
  position: relative;
  box-shadow: 0 0 2rem #222;
}

.dropdown-container::before {
  content: "▼";
  transform: scale(0.7);
  position: absolute;
  color: rgb(31, 5, 92);
  top: -2.5rem;
  left: 0;
  right: 0px;
  background-color: white;
  border-radius: 100%;
  padding: 0.25em 0.55em;
  box-shadow: 0 0 2rem #222;
}
/* Dropdown menu content*/

.dropdown-container > ul {
  background-color: white;
  transition: 250ms;
  display: block;
  border: solid rgba(179, 177, 177, 0.288);
  border-style: outset;
  min-width: auto;
  float: right;
  margin-right: 10px;
}

.dropdown-container > ul > li {
  padding-block: 0.75em;
  text-align: left;
  z-index: 1;
  margin-left: 10px;
  margin-right: 0px;
  min-width: 100px;
}

.dropdown-container > ul > li:hover {
  background-color: white;
  color: rgb(31, 5, 92);
}

.menu__button.activated .dropdown-container {
  display: block;
}

.title {
  display: none;
}

img#logo {
  background-color: white;
  float: left;
  display: left;
  align-content: center;
  /* margin-left: 10px;*/
  margin-right: 2rem;
  margin-top: 0.25rem;
  width: auto;
  height: 2.5rem;
  transition: width 0.5s, heigth 0.5s, margin-top 0.5s, margin-right 0.5s;
  -webkit-transition: margin-top 0.5s;
}

input {
  width: 85%;
  padding: 0px;
  margin-bottom: 10px;
  border: 0;
  outline: 0;
  background: #f1f1f1;
  font-weight: 80;
  font-style: italic;
  border-radius: 2px;
}
input#submit {
  background-color: rgb(176, 176, 243);
}
#submit:hover {
  background-color: blue;
}
#log {
  width: auto;
  align-items: center;
  color: rgb(0, 0, 0);
  padding: 0px;
  float: left;
}
.forma {
  transition: 250ms;
  display: block;
  /* width: 300px; */
  float: left;
  position: absolute;
  align-items: center;
}

.format {
  display: block;
  /* width: 200px; */
  padding-left: 0px;
  left: 0;
  float: left;
}
form p {
  margin: 0;
  text-align: center;
  transform: translateX(-10%);
}

#menu-icon{
    border: transparent;
}

@media (min-width: 790px) {
  .title {
    display: block;
    max-width: 50rem;
    margin: 1rem auto;
    font-family: var(--font-google);
    user-select: none;
  }
  .imgLog {
    display: none;
    visibility: hidden;
  }
  .inicio {
    display: none;
    visibility: hidden;
  }
  .res-user {
    display: none;
    visibility: hidden;
  }
  .title > h1 {
    font-size: 6rem;
    color: #33333393;
  }
  .dropdown-container > ul {
    transform: translate(0, -100%);
  }

  .menu__button:hover > .dropdown-container {
    pointer-events: initial;
  }

  .menu__button:hover > .dropdown-container > ul {
    transform: translate(0, 0);
  }
  .dropdown-container {
    display: inline-block;
    position: absolute;
    left: left;
    right: 4px;
    box-shadow: none;
    pointer-events: none;
    overflow: hidden;
    margin-top: 0.75rem;
    border-radius: 0 0 0.25em 0.25em;
  }

  .dropdown-container::before {
    display: none;
  }
  .menu__button--arrow {
    position: relative;
  }

  .menu__button--arrow::before {
    content: "▼";
    color: rgb(31, 5, 92);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: scale(0.5, 0.3) translate(-50%);
  }

  .menu__button--arrow:hover::before {
    display: none;
  }
  button {
    display: none;
  }
  .menu {
    display: flex;
    flex-direction: row;
    /* align-items: center;   
        
        /* position:fixed             */
  }

  input {
    width: 85%;
    padding: 0px;
    margin-bottom: 10px;
    border: 0;
    outline: 0;
    background: #f1f1f1;
    font-weight: 80;
    font-style: italic;
    border-radius: 2px;
  }
  input#submit {
    background-color: rgb(176, 176, 243);
  }
  #submit:hover {
    background-color: blue;
  }
  #log {
    width: auto;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 0px;
    float: left;
  }
  .forma {
    transition: 250ms;
    display: block;
    width: 300px;
    float: left;
    position: absolute;
    align-items: center;
  }
  .formamin {
    display: none;
    visibility: hidden;
  }

  .format {
    display: inline-block;
    width: 200px;
    left: 0;
    /* float:left;
        display: inline-block; */
  }
  form p {
    margin: 0;
    text-align: center;
    transform: translateX(-10%);
  }
}
@media only screen and (min-device-width: 480px) and (max-device-width: 789px) {
  body {
    background-image: rgb(31, 5, 92);
    height: 100vh;
  }
  img#logo {
    display: none;
    visibility: hidden;
  }
  .imgLog {
    display: flex;
    /* margin: 2rem auto;*/
    padding: 0.5em 1em;

    color: rgb(31, 5, 92);
    background-color: #22222200;
    font-family: var(--font-google);
    font-size: 1rem;
    cursor: pointer;
    transition: 250ms;
    border-radius: 1em;
    float: center;
  }
  .res-user {
    display: flex;
    /* margin: 2rem auto;*/
    padding: 0.5em 1em;

    color: rgb(31, 5, 92);
    background-color: #22222200;
    font-family: var(--font-google);
    font-size: 1rem;
    cursor: pointer;
    transition: 250ms;
    border-radius: 1em;
    float: center;
  }

  .principal {
    display: flex;
    align-items: flex-start;
    /* width:80%; */
    list-style: none;
    padding: 0.5em 1em;
  }
  #id {
    display: in-block;
  }
  button {
    display: flex;
    /* margin: 2rem auto;*/
    padding: 0.5em 1em;
    border: 0.25rem solid rgb(51, 51, 51);
    color: rgb(31, 5, 92);
    background-color: #22222200;
    font-family: var(--font-google);
    font-size: 1rem;
    cursor: pointer;
    transition: 250ms;
    border-radius: 1em;
    float: center;
    /* transform: translateY(5rem);
        transform: translateX(5rem); */

    /* position:fixed */
  }

  button:hover {
    background-color: none;
  }

  .menu {
    --color-menu-dark: rgb(250, 249, 249);
    display: none;
    flex-direction: column;
    position: fixed;
    box-shadow: 0 0 0.5rem var(--color-menu-dark);
    margin-top: 0px;
  }
  .menu.activated {
    display: flex;
  }

  .menu--background {
    background-color: var(--color-menu-dark);
    color: rgb(31, 5, 92);
  }

  /* Menu button */

  .menu__button {
    padding: 0.75em 1em;
    cursor: pointer;
    text-align: center;
    flex: 1 0 auto;
    position: relative;
  }

  .menu__button:hover {
    background-color: rgba(117, 183, 238, 0.288);
  }
  .dropdown-container > ul {
    background-color: white;
    transition: 250ms;
    display: block;
    border: solid rgba(156, 176, 243, 0.288);
    border-style: outset;
    min-width: auto;
    float: right;
    margin-right: 5px;
    margin-left: 5px;
  }

  .menu__button:hover > .dropdown-container {
    pointer-events: initial;
  }

  .dropdown-container::before {
    display: none;
  }
  .menu__button--arrow {
    position: relative;
  }

  .menu__button--arrow::before {
    content: "▼";
    color: rgb(31, 5, 92);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: scale(0.5, 0.3) translate(-50%);
  }

  .menu__button--arrow:hover::before {
    display: none;
  }
  .forma {
    display: none;
    visibility: hidden;
  }
  #log {
    display: none;
    visibility: hidden;
  }
  .format {
    display: none;
    visibility: hidden;
  }
}
@media only screen and (min-device-width: 380px) and (max-device-width: 479px) {
    body {
        background-image: rgb(31, 5, 92);
        height: 100vh;
      }
      img#logo {
        display: none;
        visibility: hidden;
      }
      .imgLog {
        display: flex;
        /* margin: 2rem auto;*/
        padding: 0.5em 1em;
    
        color: rgb(31, 5, 92);
        background-color: #22222200;
        font-family: var(--font-google);
        font-size: 1rem;
        cursor: pointer;
        transition: 250ms;
        border-radius: 1em;
        float: center;
      }
      .res-user {
        display: flex;
        /* margin: 2rem auto;*/
        padding: 0.5em 1em;
    
        color: rgb(31, 5, 92);
        background-color: #22222200;
        font-family: var(--font-google);
        font-size: 1rem;
        cursor: pointer;
        transition: 250ms;
        border-radius: 1em;
        float: center;
      }
    
      .principal {
        display: flex;
        align-items: flex-start;
        /* width:80%; */
        list-style: none;
        padding: 0.5em 1em;
      }
      #id {
        display: in-block;
      }
      button {
        display: flex;
        /* margin: 2rem auto;*/
        padding: 0.5em 1em;
        border: 0.25rem solid rgb(51, 51, 51);
        color: rgb(31, 5, 92);
        background-color: #22222200;
        font-family: var(--font-google);
        font-size: 1rem;
        cursor: pointer;
        transition: 250ms;
        border-radius: 1em;
        float: center;
        /* transform: translateY(5rem);
            transform: translateX(5rem); */
    
        /* position:fixed */
      }
    
      button:hover {
        background-color: none;
      }
    
      .menu {
        --color-menu-dark: rgb(250, 249, 249);
        display: none;
        flex-direction: column;
        position: fixed;
        box-shadow: 0 0 0.5rem var(--color-menu-dark);
        margin-top: 0px;
      }
      .menu.activated {
        display: flex;
      }
    
      .menu--background {
        background-color: var(--color-menu-dark);
        color: rgb(31, 5, 92);
      }
    
      /* Menu button */
    
      .menu__button {
        padding: 0.75em 1em;
        cursor: pointer;
        text-align: center;
        flex: 1 0 auto;
        position: relative;
      }
    
      .menu__button:hover {
        background-color: rgba(117, 183, 238, 0.288);
      }
      .dropdown-container > ul {
        background-color: white;
        transition: 250ms;
        display: block;
        border: solid rgba(156, 176, 243, 0.288);
        border-style: outset;
        min-width: auto;
        float: right;
        margin-right: 5px;
        margin-left: 5px;
      }
    
      .menu__button:hover > .dropdown-container {
        pointer-events: initial;
      }
    
      .dropdown-container::before {
        display: none;
      }
      .menu__button--arrow {
        position: relative;
      }
    
      .menu__button--arrow::before {
        content: "▼";
        color: rgb(31, 5, 92);
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: scale(0.5, 0.3) translate(-50%);
      }
    
      .menu__button--arrow:hover::before {
        display: none;
      }
      .forma {
        display: none;
        visibility: hidden;
      }
      #log {
        display: none;
        visibility: hidden;
      }
      .format {
        display: none;
        visibility: hidden;
      }
}
  /* }
    .res-user{
        display:block;
        float:right;
        transform: translateY(7rem);
        transform: translateX(35rem);
        position:fixed
    } */

  /* float:left;
        display: inline-block; */

  /* input{
        width: 85%;
        padding: 0px;
        margin-bottom: 10px;
        border: 0;
        outline: 0;
        background: #f1f1f1;
        font-weight: 80;
        font-style: italic;
        border-radius: 2px;
    }
    input#submit{
        background-color:rgb(176, 176, 243);
    }
    #submit:hover{
        background-color:blue;

    

    .format{
        display:inline-block;
        width: 200px;;
        left:0;
        /* float:left;
        display: inline-block; */

  /* }
    form p{
        margin:0;
        text-align: center;
        transform:translateX(-10%)
    } */
}
